[submodule "thirdparty/gem5"]
	path = thirdparty/gem5
	url = git@github.com:Baaaaaarry/gem5-npu.git
[submodule "thirdparty/coralnpu"]
	path = thirdparty/coralnpu
	url = https://github.com/google-coral/coralnpu.git
